Data structure

In [2]:
#list
#tuple
#dictionary
#set

List

In [3]:

#list is mutable--(add,delete,change)
#list can hetrogeneuos data type
#list allow duplicated
#list can mentioned with [ ]

In [7]:
a = []
type(a)

list

In [8]:
a = [1,2,3,"india"]
len(a)

4

In [9]:
a[3][0]

'i'

In [36]:
# adding two list using operators
list1 =['a', 1, 5.0, 'laptop']
list2= ['b',2]
list1 += list2
print(list1)

['a', 1, 5.0, 'laptop', 'b', 2]

In [37]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [4]:
list = [77,34.3,'guvi','89',77,34.3]
list

[77, 34.3, 'guvi', '89', 77, 34.3]

In [13]:
list.append('sugar')
list

[77, 34.3, 'guvi', '89', 77, 34.3, 'sugar', 'sugar']

In [14]:
course1 = ['data science', 'machine learning', 'python', 'html', 'big data' ]
course2 = ['statistics']

course1.append(course2)

In [15]:
course1

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 ['statistics']]

In [16]:
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]
course.insert(2,"Java")

In [17]:
course

['data science', 'machine learning', 'Java', 'python', 'html', 'big data']

In [34]:
course1 = ['data science', 'machine learning', 'python', 'html', 'big data' ]

course2 = ['statistics']

course1.extend(course2) #used to join two separate list into one list

In [19]:
course1

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 'statistics']

In [20]:
income = [100,200,300,400,50,500]
income.sort(reverse=False)

In [21]:
income

[50, 100, 200, 300, 400, 500]

In [22]:
income = [100,200,300,400,50,500]
income.sort(reverse=True)
income

[500, 400, 300, 200, 100, 50]

In [23]:
sentence = ['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'frog']
sentence.sort(reverse=True)
sentence

['the', 'quick', 'over', 'lazy', 'jumps', 'frog', 'fox', 'brown', 'a']

In [24]:
sentence = ['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'frog']
sentence.sort(key = len,reverse=True)
sentence

['quick', 'brown', 'jumps', 'over', 'lazy', 'frog', 'fox', 'the', 'a']

In [25]:
# define a first list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# delete the third element from the list
del course[0:2]

# print the output
course

['python', 'html', 'big data']

In [26]:
sentence = ['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'frog']
sentence.clear()
sentence

[]

In [27]:
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]
course.remove('data science')
course

['machine learning', 'python', 'html', 'big data']

In [30]:
k=[1,2,3,4,1,1,1]
k.remove(1)
k

[2, 3, 4, 1, 1, 1]

In [28]:
list

[77, 34.3, 'guvi', '89', 77, 34.3, 'sugar', 'sugar']

In [29]:
list.pop(3)
list

[77, 34.3, 'guvi', 77, 34.3, 'sugar', 'sugar']

In [48]:
list.index('guvi')

2

In [31]:
a = ["india",1,2,3]
b = ["china",4,5,6]
a+b

['india', 1, 2, 3, 'china', 4, 5, 6]

In [32]:
a*3

['india', 1, 2, 3, 'india', 1, 2, 3, 'india', 1, 2, 3]

In [109]:
alpha= ['d','f','c']
alpha += 'ka'
print(alpha)

['d', 'f', 'c', 'k', 'a']

Interview Question: https://leetcode.com/problems/baseball-game/description/

Input: ops = ["5","2","C","D","+"]

Output: 30

Explanation:
"5" - Add 5 to the record, record is now [5].

"2" - Add 2 to the record, record is now [5, 2].

"C" - Invalidate and remove the previous score, record is now [5].

"D" - Add 2 * 5 = 10 to the record, record is now [5, 10].

"+" - Add 5 + 10 = 15 to the record, record is now [5, 10, 15].

The total sum is 5 + 10 + 15 = 30.

In [33]:
ops = ["5","2","C","D","+"]
output=[]
for i in ops:
    if i == 'C':
        output.pop()
    elif i == 'D':
        output.append(output[-1]*2)
    elif i=='+':
        output.append(output[-1] + output[-2])
    else:
        output.append(int(i))
print(sum(output))

30

Tuple

In [ ]:
#tuple is immutable
#tuple can heterogeneous data types
#tuple can contain duplicated
#tuple is mentioned using ( )

In [41]:
# difference between list and tuple

#list => mutable
#list consumes more memory
#list are slower then tuple

#tuple =>immutable
#tuple consumes less memory
#tuples are faster then list

In [35]:
t=(1,2,88.5,'guvi','good',88.5,True)
type(t)

tuple

In [42]:
# tuple of string and list
my_tuple = ("python", [12, 12, 31])
print(my_tuple)

('python', [12, 12, 31])

In [43]:
my_tuple[0] = "java"

TypeError: 'tuple' object does not support item assignment

In [45]:
my_tuple[1][0] = 99.99
my_tuple

('python', [99.99, 12, 31])

In [38]:
#adding two tuple using operators
tuple1= ('a', 'b', 'c')
tuple2= (1,2,3)
tuple1 += tuple2
print(tuple1)

('a', 'b', 'c', 1, 2, 3)

In [39]:
tuple2*2

(1, 2, 3, 1, 2, 3)

In [40]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [46]:
t=(1,2,88.5,'guvi','good',88.5,True)
t.count(88.5)

2

In [50]:
t.index(2)

1

Dictionary --- {key : values}

In [51]:
#it is mutable
#it can contain hetrogeous data type
#it does not allow duplices keys
#it is mentioned with {keys : values }

In [52]:
balance = {"jan":1000, "feb":2000, "mar":3000}
type(balance)

dict

In [53]:
print(balance)

{'jan': 1000, 'feb': 2000, 'mar': 3000}

In [54]:
balance["jan"]

1000

In [56]:
balance["jan"] = 10000
balance

{'jan': 10000, 'feb': 2000, 'mar': 3000}

In [57]:
len(balance)

3

In [58]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [2]:
sample_dict = {'stu1':'parthiban','stu2':'jhansi'}
print(sample_dict)
print(sample_dict.keys())
print(sample_dict.values())
print(sample_dict['stu1'])
print(sample_dict.get('stu1'))
sample_dict['stu3']= 'meenu'
print(sample_dict)

{'stu1': 'parthiban', 'stu2': 'jhansi'}
dict_keys(['stu1', 'stu2'])
dict_values(['parthiban', 'jhansi'])
parthiban
parthiban
{'stu1': 'parthiban', 'stu2': 'jhansi', 'stu3': 'meenu'}

In [61]:
horsepower = {'BMW':949 , 'Mercedes':945 ,'Ferrari':954 ,'Volkswagen': 976,'Renault ':889}

In [63]:
horsepower.keys()

dict_keys(['BMW', 'Mercedes', 'Ferrari', 'Volkswagen', 'Renault '])

In [65]:
horsepower.values()

dict_values([949, 945, 954, 976, 889])

In [66]:
horsepower.items()

dict_items([('BMW', 949), ('Mercedes', 945), ('Ferrari', 954), ('Volkswagen', 976), ('Renault ', 889)])

In [67]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# remove key from dictionary
year_sales.pop(2015)

year_sales

{2016: 34300, 2017: 40000}

In [68]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# remove last item from the dictionary
year_sales.popitem()

year_sales

{2015: 34500, 2016: 34300}

In [69]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# delete item from the dictionary
del year_sales[2015]

year_sales

{2016: 34300, 2017: 40000}

In [70]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# clear the dictionary
year_sales.clear()

year_sales

{}

In [71]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# update dictionary
year_sales.update({2018:30000})

year_sales

{2015: 34500, 2016: 34300, 2017: 40000, 2018: 30000}

In [73]:
year_sales[2020]="india"
year_sales

{2015: 34500, 2016: 34300, 2017: 40000, 2018: 30000, 2020: 'india'}

Nested Dictionary

In [75]:
nested_dict= {'name':{'fname':'A','mname':'B','lname':'C'}}
new_nested = nested_dict.items()
print(new_nested)

dict_items([('name', {'fname': 'A', 'mname': 'B', 'lname': 'C'})])

In [76]:
lname_n= nested_dict['name'] ['lname']
print(lname_n)

C

In [78]:
nested_dict.keys()

dict_keys(['name'])

In [77]:
nested_dict['name'].keys()

dict_keys(['fname', 'mname', 'lname'])

Multiple nested Dictionary

In [79]:
nested_dict.update({'gender':'M','Age':26})
print(nested_dict)

{'name': {'fname': 'A', 'mname': 'B', 'lname': 'C'}, 'gender': 'M', 'Age': 26}

In [80]:
nested_dict ['name'] ['xyz']=23
print(nested_dict)

{'name': {'fname': 'A', 'mname': 'B', 'lname': 'C', 'xyz': 23}, 'gender': 'M', 'Age': 26}

In [81]:
nested_dict ['Class']= '2s'
print(nested_dict)

{'name': {'fname': 'A', 'mname': 'B', 'lname': 'C', 'xyz': 23}, 'gender': 'M', 'Age': 26, 'Class': '2s'}

Set

In [93]:
#set is mutable
#set is unordered
#set can contain heterogeneous data types
#set cannot allow duplicated
#set is mentioned with {}

In [94]:
s={1,2,55.3,'guvi','56',2,2,2,2,2}
print(s)
type(s)

{1, 2, 'guvi', 55.3, '56'}

set

In [95]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [96]:
# create a set
my_set = {'python','world'}

# add element
my_set.add("hi")

my_set

{'hi', 'python', 'world'}

In [97]:
# create a set
my_set = {'python','world'}

# update the set
my_set.update(['data science', 'machine learning'])

my_set

{'data science', 'machine learning', 'python', 'world'}

In [98]:
# create a set
my_set = {'python','world'}

# print the length of set
len(my_set)

2

In [99]:
# create a set
my_set = {'data science', 'machine learning', 'python', 'world'}

# remove element from list
my_set.remove('data science')

my_set

{'machine learning', 'python', 'world'}

In [100]:
# create a set
my_set = {'data science', 'machine learning', 'python', 'world'}

# remove random element from set
my_set.pop()

'world'

In [101]:
a = set([1, 2, 3])
b = set([3, 4, 5, 6])
print (a.union(b))

{1, 2, 3, 4, 5, 6}

In [102]:
set1= { 1,2,3,4,5,4,3}
set2= {'a','b',4,5}
print(set1 | set2) # | denotes or it ignore duplicates

{'a', 1, 2, 3, 4, 5, 'b'}

In [104]:
print(set1 & set2) # & denotes common values

{4, 5}

In [103]:
a = set([12,34,56,78])
b = set([12,45,67,89,78])
c = set([12,34,56,78,56])
print (a & b)
print (a & b & c)

{12, 78}
{12, 78}

In [105]:
print(set1 - set2) # - denotes unique values in set1

{1, 2, 3}

In [106]:
a = set([23,45,56,77,89])
b = set([23,45,54,33,23])
print(a - b)

{56, 89, 77}

3 interview questions

In [111]:
#write a code to print the number of the fruits
a = ["banana","banana","pineapple", "apple", "apple"]
for i in set(a):
  print(i,":",a.count(i))

banana : 2
apple : 2
pineapple : 1

In [112]:
num = [1,1,1,1,1,1,2,2,2,2,2,3,3,3,3,4,4,4,4,5,5,5,5,6,6,6,6,6,6,6,6,6,6,7,7,7,7,7,7,8]

In [113]:
#write a code to print the number and its count in dictionary
dict={}
for i in set(num):
    dict[i]=num.count(i)
print(dict)

{1: 6, 2: 5, 3: 4, 4: 4, 5: 4, 6: 10, 7: 6, 8: 1}

In [114]:
#remove the duplicate without using set
a = [1,2,3,4,5,6,7,1,1,1,2,2,2,3,3,8,9,5,6,7,4,3,6,7,9,8,9,8]
b=[]
for i in a:
    if i not in b:
        b.append(i)
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9]