List comphrehension

Question: output should be the square of a

a = [11,12,14,45,56]

o/p = [121,144,196,2025,3136]

In [1]:
a = [11,12,14,45,56]
op = []
for i in a:
    op.append(i**2)
print(op)

[121, 144, 196, 2025, 3136]

In [2]:
#using list comphrehension
a = [11,12,14,45,56]
[i**2 for i in a]

[121, 144, 196, 2025, 3136]

In [16]:
#upper
#lower
#capitalize
list_1 = ["yes", "it's", "a", "Beautiful", "Day"]
for i in list_1:
    print(i.capitalize())

Yes
It's
A
Beautiful
Day

In [4]:
[i.upper() for i in list_1]

['YES', "IT'S", 'A', 'BEAUTIFUL', 'DAY']

In [5]:
a = "india is my country all indians are my brothers and sisters"
[i.capitalize() for i in a.split(" ")]

['India',
 'Is',
 'My',
 'Country',
 'All',
 'Indians',
 'Are',
 'My',
 'Brothers',
 'And',
 'Sisters']

Print only the even numbers

In [6]:
a = [1,2,3,4,5,6,7,8,9,10]
[i for i in a if i%2==0]

[2, 4, 6, 8, 10]

Print the elements as odd and even

In [7]:
a = [1,2,3,4,5,6,7,8,9,10]
op = []
for i in a:
  if i%2==0:
    op.append("even")
  else:
    op.append("odd")
print(op)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [8]:
a = [1,2,3,4,5,6,7,8,9,10]
["Even" if i%2==0 else "odd" for i in a]

['odd', 'Even', 'odd', 'Even', 'odd', 'Even', 'odd', 'Even', 'odd', 'Even']

Print the common element in both the list

In [18]:
list_1 = [102, 232, 233, 344, 456, 564, 234]
list_2 = [102, 233, 324, 564, 567, 523]
#using set
set(list_1)&set(list_2)

{102, 233, 564}

In [19]:
for i,j in zip(list_1,list_2):
    print(i,j)

102 102
232 233
233 324
344 564
456 567
564 523

In [20]:
for i in list_1:
    for j in list_2:
      if i==j:
        print(i)

102
233
564

In [21]:
#using list comprehension
[i for i in list_1 for j in list_2 if i==j]

[102, 233, 564]

In [14]:
a = [12,14,56,78,89,23]
#<18 = young
#>old => old
#middle
["young" if i<=18 else "old" for i in a]

['young', 'young', 'old', 'old', 'old', 'old']

In [22]:
a = [12,14,56,78,89,23]
#<18 = young
#>old => old
#middle
["young" if i<=18 else "old" if i>=60 else "middle" for i in a]

['young', 'young', 'middle', 'old', 'old', 'middle']

Exercise: list comprehension checks the number is divisible by 2 and 3.If number satisfies both conditions, number is appended to number_list.

In [23]:
a = [1,2,3,4,5,6,7,8,9,10,11,12,13]
[i for i in a if i%2==0 and i%3==0]

[6, 12]

In [24]:
["divisible" if i%2==0 and i%3==0 else "not divisible" for i in a]

['not divisible',
 'not divisible',
 'not divisible',
 'not divisible',
 'not divisible',
 'divisible',
 'not divisible',
 'not divisible',
 'not divisible',
 'not divisible',
 'not divisible',
 'divisible',
 'not divisible']