# Python

Python was developed by Guido van Rossum. The development of Python began in the late 1980s, and its first public release (version 0.9.0) was in February 1991

Why Python?

Python is a popular programming language known for its simplicity and versatility. Here are some key reasons why Python is widely used and recommended:

1. Readability and Simplicity
Clean Syntax: Python's syntax is straightforward and easy to read, which makes it an excellent choice for beginners. It emphasizes readability and reduces the cost of program maintenance.
Minimalistic Code: Python allows you to write fewer lines of code compared to other programming languages, making it quicker to develop projects.

2. Versatility
General-Purpose Language: Python is used in a wide range of applications, including web development, data analysis, artificial intelligence, machine learning, automation, scientific computing, and more.
Cross-Platform Compatibility: Python runs on various platforms such as Windows, macOS, and Linux, making it highly versatile for different development environments.
3. Extensive Libraries and Frameworks
Rich Ecosystem: Python has a vast collection of libraries and frameworks that simplify many tasks. For example, pandas and numpy for data analysis, scikit-learn for machine learning, Django and Flask for web development, and TensorFlow and PyTorch for deep learning.
Community Support: Python has a large and active community that contributes to a rich ecosystem of packages and tools. This community support means you can find libraries and modules for almost any task.
4. Integration and Automation
Ease of Integration: Python can easily integrate with other languages like C, C++, and Java, as well as with web services and data structures.
Automation: Python is excellent for automating repetitive tasks, such as file handling, web scraping, and test automation, which saves time and effort.
5. Support for Multiple Paradigms
Object-Oriented and Procedural Programming: Python supports multiple programming paradigms, including procedural, object-oriented, and functional programming, giving developers the flexibility to choose the best approach for their projects.
6. Educational and Research Applications
Teaching and Learning: Python is often used as a teaching language because of its simplicity and ease of understanding. Many educational institutions and online courses use Python to introduce programming concepts.
Research and Development: Python is widely used in academic research and scientific computing due to its simplicity and the availability of specialized libraries.
7. Strong Support for Data Science and AI
Data Science: Python is the language of choice for data scientists due to its powerful libraries like pandas, numpy, matplotlib, and seaborn for data manipulation, analysis, and visualization.
Artificial Intelligence and Machine Learning: Python is heavily used in AI and ML because of libraries like scikit-learn, TensorFlow, Keras, and PyTorch, which provide robust tools for building complex models.
8. Community and Industry Adoption
Industry Standard: Many top companies, including Google, Facebook, and Instagram, use Python for various applications, indicating its reliability and performance.
Community: Python's large and active community means continuous improvement and a wealth of resources, tutorials, and documentation.

Python- IDE (Integrated Development Environment)

Integrated Development Environments (IDEs) are essential tools for coding, offering features that streamline development, debugging, and deployment processes.  Python has in-built IDLE- Integrated Development Learning Environment, however this is recommended for practising simple codes not recommended for projects and complex functions.

Code, Develop, Build, Test, Deploy

Hello World Program

In [12]:
#PRINT-IT IS USED TO print THE OUTPUT
print ("hello world")

hello world

In [13]:
print (65)

65

Variables

In [15]:
#variable-- it is container to store the values,coding....

#Variable Rules:

#variables should not contain any space inbetween
#variables should conatin with alpha,numericals and only a special character '_' and no $%&*
#Variables should not starts with number
#variabes can start with alphabets and _

In [10]:
a = 33 #--> a- Variable name, = is assignment opeartor , 33 - Value
a

33

In [19]:
#user_defined- snake case
#userDefined--camel case
#UserDefined- pascal case

In [20]:
_ =88

In [21]:
user_defined&=
1guvi=
User_defined=

SyntaxError: invalid decimal literal (995767678.py, line 2)

Assigning variables to group of characters

In [2]:
cars= ['BMW','Hyundai','Toyota']
x,y,z= cars
print(x)
print(y)
print(z)

BMW
Hyundai
Toyota

In [42]:
a = b = c = "india"
print(a)
print(b)
print(c)

india
india
india

In [43]:
a,b,c = "india","pakistan","china"
print(a)
print(b)
print(c)

india
pakistan
china

In [44]:
#variable reassignment
a = "india"
b = "pakistan"
b = a
print(a)
print(b)

india
india

In [45]:
a = 10
b = "hello"
c = a + b  # This will result in a TypeError because you cannot add an integer and a string.
print(a)  # Output: 10
print(b)  # Output: "hello"
del a  # Delete variable a
# print(a)  # This will result in a NameError because variable a is not defined.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [46]:
#case sensitive
A = "india"
a = "china"
print(a)

china

Data types

In [22]:
#numeric--integer,float,complex
#string- ' '," ",''' '''
#boolean-True/False
#complex

In [23]:
#integer-whole number--phone number,password,postal code,age,count

In [24]:
a=77
a=-77

In [47]:
a=-25
type(a)

int

In [25]:
#float--decimal values--temp,average, height,weight,interest rate, price,

In [26]:
a=-66.9
a=66.9

In [48]:
a=-9.8
type(a)

float

In [5]:
#complex
a=5+6J
type(a)

complex

In [6]:
a.real

5.0

In [8]:
a.imag #imagenary

6.0

In [31]:
#string
a='guvi'
print(a)

guvi

In [33]:
a1="guvi_geeks"
print(a1)
a2='''good morning'''
print(a2)

guvi_geeks
good morning

In [49]:
a = "india"
type(a)

str

In [34]:
#boolean data type---true/false,pass/fail,day/night.in/out,ys/not,pos/neg

In [50]:
a=True
type(a)

bool

In [35]:
6>5

True

In [36]:
6>=5

True

In [37]:
9<4

False

Type_casting

In [51]:
a = 13
float(a)

13.0

In [52]:
a=13
str(a)

'13'

In [53]:
a=0
bool(a)

False

In [54]:
b=34.45
int(b)

34

In [55]:
str(b)

'34.45'

In [56]:
b=0.0
bool(b)

False

In [57]:
a="india"
int(a)

ValueError: invalid literal for int() with base 10: 'india'

In [58]:
a="1995"
int(a)

1995

In [61]:
#boolean
a=""
bool(a)

False

In [62]:
a=True
int(a)

1

In [63]:
a=True
float(a)

1.0

In [64]:
a=True
str(a)

'True'

Operators

In [65]:
#operators in python
#arithmetic operators
#assignment operators
#comparison operators
#logical operators

In [66]:
#arithmetic
a = 27
b=4
print("addition : ",a+b)
print("subtraction : ",a-b)
print("multiplication : ",a*b)
print("division:",a/b)
print("reminder:",a%b)
print("floor division (quotient)",a//b)
print("power: ",a**b)

addition :  31
subtraction :  23
multiplication :  108
division: 6.75
reminder: 3
floor division (quotient) 6
power:  531441

In [67]:
#comparision
a=10
b=10
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

True
False
False
False
True
True

In [68]:
#logical operator
#and/or/not

age = 79
country = "china"

age >= 18 and country == "india"

False

In [69]:
age = 12
country = "india"

age >= 18 or country == "india"

True

In [70]:
age = 12
country = "china"

age >= 18 or country == "india"

False

In [71]:
age = 25
country = "china"

not(age >= 18 or country == "india")

False

In [72]:
#assignmnt operator
a = 10
a = a+5
print(a)

15

In [78]:
a = 10
a += 5
print(a)

15

In [79]:
a-=10
a

5

In [80]:
a*=10
a

50

In [81]:
a/=3
a

16.666666666666668

User Input

In [87]:
a=input('Enter your name:')
a

'Parthi'

In [89]:
b=int(input('Enter your age:'))
b

28

In [90]:
c= float(input('Enter your weight:'))
c

88.0

In [9]:
result = eval(input('Enter the experssion:'))
print(result)

13

bmi calculator

bmi = weight/height**2

In [84]:
Name = input("enter your name : ")
weight = float(input("enter your weight in kg : "))
height = float(input("enter your height in m : "))
bmi = round(weight / height**2,2)

print("Hello !",Name,"Welcome to Guvi","\nYour Bmi is ",bmi)

#formatted string
print(f"\n\n\nHello {Name}! \nWelcome to Guvi.\nYour BMI is {bmi}")

Hello ! Parthi Welcome to Guvi
Your Bmi is  24.38



Hello Parthi!
Welcome to Guvi.
Your BMI is 24.38

String Basics

Concatenation

In [1]:
#adding message in print to join the words
x= 'simplilearn'
print('welcome to ' + x)

welcome to simplilearn

In [4]:
# Length of Strings
string = "Python Programming"
#Machine Count minimum index = 0
#Machine Count maximum index = len(value) - 1
#Human Count minimum index = 1
#Human Count maximum index = len(value)
length_string = len(string)
print("Machine Count minimum index = ", 0)
print("Machine Count maximum index = ", len(string)-1)
print("Human Count minimum index = ", 1)
print("Human Count maximum index = ", len(string))

Machine Count minimum index =  0
Machine Count maximum index =  17
Human Count minimum index =  1
Human Count maximum index =  18

String slicing

In [6]:
x= 'hello World!'
print(x[9])

l

In [7]:
a = "superlearning"
a[-1:-10:-1] #starting index, ending index and stepping index

'gninraelr'

In [18]:
a = "india"
a[::-1]

'aidni'

String Methods

In [8]:
input_string = 'hello'
print("upper = ", input_string.upper())
print("lower = ",input_string.lower())
print("capitalize = ",input_string.capitalize())
print("strip = ",input_string.strip())
print(input_string.lstrip())
print(input_string.rstrip())
print(input_string.find('e'))
joined_words = " - ".join(input_string)
print(joined_words)
input_string2 = 'Hello worldw this is my prwogram'
splitted_strings = input_string2.split('w')
print(splitted_strings)

upper =  HELLO
lower =  hello
capitalize =  Hello
strip =  hello
hello
hello
1
h - e - l - l - o
['Hello ', 'orld', ' this is my pr', 'ogram']

In [16]:
fruits = 'apple, kiwi, pineapple,mango,grapes, banana'

print(fruits.split(","))

['apple', ' kiwi', ' pineapple', 'mango', 'grapes', ' banana']

In [17]:
print("The number of fruits in the list are: " , len(fruits.split(",")))

The number of fruits in the list are:  6

String Format method

In [13]:
value = 15
print('Hello world this is my{} program'.format(value))
print(f'Hello world this is my{value} program')

Hello world this is my15 program
Hello world this is my15 program

In [10]:
name = 'Angela'
salary =100000
print('Her name is %s\nHer salary is %d'%(name,salary))

Her name is Angela
Her salary is 100000